<VirtualHost *:80>
	ServerName www.example.com
	ServerAlias example.com
	ProxyPreserveHost On
	ProxyPass "/" "http://www.example.com:60001/"
	ProxyPassReverse "/" "http://www.example.com:60001/"
</VirtualHost>
