# general
ID = example
BASE_DIR = /www/example

# backup & restore
NOW := $(shell date +'%Y%m%d-%H%M%S')
BACKUPS = $(BASE_DIR)/backups

# drush
DRUSH_CONTAINER = $(ID)-drush

# web
WEB_CONTAINER = $(ID)-web
WEB_DOMAIN = example.com
WEB_IP = 11.22.33.44
WEB_PORT = 60001
WEB_DATA_ACCESS = ro
WEB_BASE = $(BASE_DIR)/web
WEB_CACHE_DIR = $(WEB_BASE_DIR)/cache
WEB_DATA_DIR = $(WEB_BASE_DIR)/data
WEB_FILES_DIR = $(WEB_BASE_DIR)/files
WEB_LOGS_DIR = $(WEB_BASE_DIR)/logs
WEB_PRIVATE_DIR = $(WEB_BASE_DIR)/private
WEB_CONF = $(WEB_BASE_DIR)/apache2.conf
WEB_SSMTP = $(WEB_BASE_DIR)/ssmtp.conf

# db
DB_CONTAINER = $(ID)-db
DB_LINK = db
